<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataManagement.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AWSProfileName" value="PollyAWS"/>
    <add key="AWSRegion" value="ap-southeast-1" />
  </appSettings>
  <userSettings>
    <DataManagement.My.MySettings>
      <setting name="VendnewCustomerTimer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NotificationsTimer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CopyG1DataTimer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KPIRunTimer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NumberOfInstances" serializeAs="String">
        <value>0</value>
      </setting>
    </DataManagement.My.MySettings>
  </userSettings>
</configuration>